* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: peach;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.placeholder {

}

.pill-button-container {
  margin-top: 20px;
}

.btn {
  min-width: 40px;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;;
}
.buttons button {
  width: 100%;
}