* {
  box-sizing: border-box;
}

.title{
  font-size: 50;
  font-style: arial;

}

p{
  text-align: center;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-style: arial;
  background-color: #15b374;
}

.font{
  font-weight: 500;
}

.fontsize{
  font-size: large;
}

.center{
  margin : 0;
  position: relative;
  top: 50%;
  left: 40%;
}

.index-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.placeholder {
  color: white;
}

.pill-button-container {
  margin-top: 20px;
}

.btn {
  min-width: 40px;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.buttons button {
  width: 100%;
}

.responsive-width {
  font-size: 3vw;
}

.navbar {
  padding: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #00b3db;
  border-color: #285e8e; 
}

.input-form {
  margin-top: 30px;
}

#plusBtn, #minusBtn {
  margin-top: 30px;
}

#minusBtn {
  background-color: #dc3545;
}